/*Domotica-trial*/
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-thin-trial.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-light-trial.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-regular-trial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-medium-trial.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-bold-trial.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domotika Trial';
  src: url('../fonts/domotika-trial/domotika-black-trial.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/*Roboto*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
