@import url('fonts.css');
@import url('typography.css');


:root{
    --font-family-main: 'Domotika Trial', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --color-gray: #989898;
    --color-light-gray: #6B7280;
    --color-dark-gray: #485169;
    --color-corp: #0C477B;
}

body{
    font-family: var(--font-family-main);
    color: #191919;
}
.ff-secondary{
    font-family: var(--font-family-secondary);
}
a{
    text-decoration: none;
    color: inherit;
}

.text-gray{
    color: var(--color-gray);
}
.text-light-gray{
    color: var(--color-light-gray);
}
.text-dark-gray{
    color: var(--color-dark-gray);
}
.text-corp{
    color: var(--color-corp);
}
.btn{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    padding: 15px 25px;
    border-radius: 0;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translate(-4px, -4px);
}
.btn-corp{
    background: var(--color-corp);
    color: white;
}
.btn-corp:hover{
    background: white;
    color: var(--color-corp);
    outline: 1px solid var(--color-corp);
}
.btn-transparent{
    color: var(--color-corp);
    outline: 1px solid var(--color-corp);
}
.btn-transparent:hover{
    background: var(--color-corp);
    color: white;
}
.btn-white{
    background: white;
    color: var(--color-corp);
}
.btn-white:hover{
    outline: 1px solid white;
}
.btn-width{
    width: 48%;
}
.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar-toggler-icon {
    background-image: url('../icons/burger.svg');
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler{
    border: none;
}
.rounded-flag{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.dropdown-toggle::after {
    border: none;
    content: "\F282";
    font-family: 'bootstrap-icons';
    font-size: 0.9rem;
    margin-left: 0.5em;
    vertical-align: middle;
}
.icons-circle{
    padding: 3px 5px;
    border: 1px solid var(--color-gray);
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.icon-social{
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;
}
header{
    border-bottom: 0.5px solid #9ca3af69;
}
.underline-link{
    transition: all 0.3s ease;
}
.underline-link:hover{
    text-decoration: underline;
}
.pagination {
    font-family: var(--font-family-secondary);
    --bs-pagination-font-size: 1.2rem;
    --bs-pagination-focus-box-shadow: none;
    border: none;
    --bs-pagination-border-color: unset;
    --bs-pagination-color: black;
    --bs-pagination-active-color: black;
    --bs-pagination-active-bg: unset;
    --bs-pagination-padding-x: 1rem;
}
.page-item.active{
    position: relative;
}
.page-item.active::after{
    position: absolute;
    height: 6px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-corp);
    content: '';
    border-radius: 10px;
}
.box-info-position-status{
    position: absolute;
}
.industries-slider-item{
    height: 250px;
    padding: 24px;
    border: 1px solid var(--color-dark-gray);
}
.slick-dots {
    bottom: -50px;
}
.slick-dots li button {
    padding: 0px;
}
.slick-dots li button:before {
    font-size: 10px;
}
.slick-dots li {
    margin: 0px;
}
@media (max-width: 1650px){
    .logo-xl{
        width: 200px;
    }
    .btn{
        padding: 15px 15px;
    }   
}

@media (max-width: 992px){
    .btn-width{
        width: 100%;
    }
    .box-info-position-status{
        position: static;
    }
    .img-position-status{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
@media (max-width: 576px){
    .logo{
        width: 120px;
    }
    .nav-link{
        font-size: 20px;
    }
    .industries-slider-item{
        height: 200px;
    }
}
@media (max-width: 400px){
    .logo{
        width: 80px;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1792px) {
  .container {
    max-width: 1600px;
  }
}